name: Flutter checks

permissions: {}

on:
  pull_request:
    branches:
      - main

# Add concurrency group to cancel in-progress jobs
concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  build-and-test-faro:
    runs-on: ubuntu-latest
    timeout-minutes: 20
    name: build & test faro
    steps:
      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
        with:
          persist-credentials: false

      - name: Set up Flutter
        uses: subosito/flutter-action@e938fdf56512cc96ef2f93601a5a40bde3801046 # v2.19.0
        with:
          channel: stable

      - name: Flutter version check
        run: flutter --version

      - name: Install dependencies
        run: flutter pub get

      - name: Create api-config file
        run: tool/create-api-config-file.sh

      - name: Check format
        run: dart format --set-exit-if-changed .

      - name: Analyze code
        run: flutter analyze

      - name: Run tests
        run: flutter test --reporter failures-only

  build-example-app:
    name: build Example app
    runs-on: ubuntu-latest
    needs: build-and-test-faro
    timeout-minutes: 20
    steps:
      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
        with:
          persist-credentials: false

      - uses: actions/setup-java@f2beeb24e141e01a676f977032f5a29d81c9e27e # v5.1.0
        with:
          distribution: "zulu"
          java-version: "17"

      - name: Set up Flutter
        uses: subosito/flutter-action@e938fdf56512cc96ef2f93601a5a40bde3801046 # v2.19.0
        with:
          channel: stable

      - name: Install dependencies
        working-directory: example
        run: flutter pub get

      - name: Create api-config file
        run: tool/create-api-config-file.sh

      - name: Analyze code
        working-directory: example
        run: flutter analyze

      - name: Build example app
        working-directory: example
        run: flutter build apk # Replace 'apk' with 'ios', 'web', etc., as needed
