name: Flutter checks

permissions: {}

on:
  pull_request:
    branches:
      - main

# Add concurrency group to cancel in-progress jobs
concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  build-and-test-faro:
    runs-on: ubuntu-latest
    timeout-minutes: 20
    name: build & test faro
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          persist-credentials: false

      - name: Set up Flutter
        uses: subosito/flutter-action@fd55f4c5af5b953cc57a2be44cb082c8f6635e8e # v2.21.0
        with:
          channel: stable

      - name: Flutter version check
        run: flutter --version

      - name: Install dependencies
        run: flutter pub get

      - name: Create api-config file
        run: tool/create-api-config-file.sh

      - name: Check format
        run: dart format --set-exit-if-changed .

      - name: Analyze code
        run: flutter analyze

      - name: Run tests
        run: flutter test --reporter failures-only

  build-example-app:
    name: build Example app
    runs-on: ubuntu-latest
    needs: build-and-test-faro
    timeout-minutes: 20
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          persist-credentials: false

      - uses: actions/setup-java@be666c2fcd27ec809703dec50e508c2fdc7f6654 # v5.2.0
        with:
          distribution: "zulu"
          java-version: "17"

      - name: Set up Flutter
        uses: subosito/flutter-action@fd55f4c5af5b953cc57a2be44cb082c8f6635e8e # v2.21.0
        with:
          channel: stable

      - name: Install dependencies
        working-directory: example
        run: flutter pub get

      - name: Create api-config file
        run: tool/create-api-config-file.sh

      - name: Analyze code
        working-directory: example
        run: flutter analyze

      - name: Build example app
        working-directory: example
        run: flutter build apk # Replace 'apk' with 'ios', 'web', etc., as needed
